.feature {
  background-color: $lightGrayishBlue;
  text-align: center;

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__intro {
    margin-bottom: 3.75rem;

    @include breakpoint-up(large) {
      width: 60%;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 0.9375rem;

    @include breakpoint-up(medium) {
      flex: 0 0 50%;
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }

  &__icon {
    margin-bottom: 1.875rem;

    @include breakpoint-up(large) {
      margin-bottom: 2.75rem;
    }
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.15;
    color: $darkBlue;
    margin-bottom: 1rem;

    @include breakpoint-up(large) {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.feature__reset {
  .title {
    font-size: $font-xlg;
    font-weight: 700;
  }

  /* Bordered form */
  form {
    width: 50%;
    border: 3px solid $darkBlue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint-down(medium) {
      width: 100%;
    }

    .info {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: $font-lg;
    }
  }

  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: $darkBlue;
    font-size: $font-lg;
    font-weight: 400;
    margin: 32px 0px;
  }

  /* Full-width inputs */
  input[type="text"] {
    margin-bottom: 32px;
    width: 100%;
    height: 56px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 5%;
    background: $lightGrayishBlue;
    color: rgba(63, 67, 71, 1);
    border-radius: 7px;
    border: none;

    @include breakpoint-down(large) {
      width: 100%;
    }

    &:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
    }
  }

  /* Set a style for all buttons */
  .register__button {
    margin: 25px 0px;
    color: #ffffff;
    border: none;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, $darkBlue, $brightCyan);
    border-radius: 7px;
    font-weight: 600;
    font-size: 21px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .filled {
    background: $limeGreen;
    transition: all 500ms ease-in-out;
  }

  /* Add a hover effect for buttons */
  .register__button:hover {
    transform: scale(1.05);
  }

  /* Extra style for the cancel button */
  .cancelbtn {
    margin: 25px 0px;
    color: #ffffff;
    border: none;
    height: 48px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;

    &:hover {
      transform: scale(1.1);
    }
  }

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* Avatar image */
  img.avatar {
    width: 10%;
  }

  /* Add padding to containers */
  .container {
    width: 90%;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 35px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }

    .cancelbtn {
      width: 100%;
    }
  }

  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000000000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }

  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0);
    }

    to {
      -webkit-transform: scale(1);
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
}

.feature__coming {
  color: $darkBlue;

  .bgimg {
    /* Background image */
    background-image: url("/img/appdev.svg");
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: 100%;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: $darkBlue;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }

  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }
}
