.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 0%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("/img/intro.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        background-size: 100%;
        background-position: 0% 83%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/img/intro.svg");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 80%;
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }
  }

  &__presentation {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 0%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("/img/meeting.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        background-size: 100%;
        background-position: 0% 83%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/img/meeting.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 100%;
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }
  }

  &__wpx {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 0%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("/img/group.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 90%;
        background-size: 100%;
        background-position: 0% 100%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/img/group.svg");
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 70%;
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }
  }

  &__support {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 0%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("/img/support.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        background-size: 100%;
        background-position: 0% 83%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/img/support.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 80%;
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }
  }

  &__login {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 0%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("/img/appdev.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        background-size: 100%;
        background-position: 0% 83%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/img/appdev.svg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 60%;
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }
  }

  &__coming {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 0%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("/img/comingsoon.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        background-size: 90%;
        background-position: 0% 83%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/img/comingsoon.svg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 60%;
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }
  }

  &__text {
    text-align: center;
    font-size: 17px;

    a {
      color: $white;
    }

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    .loader {
      border: 16px solid #f3f3f3;
      /* Light grey */
      border-top: 16px solid $darkBlue;
      /* Blue */
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: spin 2s linear infinite;
      margin-bottom: 20px;
      margin-left: 35%;

      @include breakpoint-up(medium) {
        margin-left: 42%;
      }
      @include breakpoint-up(large) {
        margin-left: 8%;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    input[type="text"],
    input[type="password"] {
      margin-bottom: 20px;
      width: 100%;
      height: 56px;
      font-size: 18px;
      font-weight: 400;
      padding-left: 5%;
      background: $lightGrayishBlue;
      color: rgba(63, 67, 71, 1);
      border-radius: 7px;
      border: none;

      @include breakpoint-down(large) {
        width: 100%;
      }

      &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
      }
    }
  }
}
